*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;

  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #000E2B, #32435F);
  }
  
  .calculator {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
    border: solid white 2px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3);
   
  }
  
  .calculator >button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    color: white;
    border: none;

  }
  .calculator > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  .text-label{
    color:white;
    text-decoration: none;
    display: block;
  }
  .input-box{
    border-radius: 0%;
    width: 100%;
    padding-top: 5px;
    display: flex;
    font-size: 15px;
    font-weight: 600;
  }
  .box{
    height: 35px;
    background-color: transparent;
    border: 2px solid white;
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-left: 10px;
  }

.funcs{
  padding-top :20px;
  display: flex;
  justify-content: space-between;

  
}
.inp-cnt{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.func >button {
  background-color: transparent;
  border-radius: 5%;
  width: 100%;
  border: none;
  font-weight: bold;
  font-size: 25px;
  color: white;
  transition: 0.3s ease;
  justify-content: center;
  padding-top:8px;
  display: flex;
  border: solid white 1px;
  transition: 0.3 ease;

}
.func >button:hover{
  background: silver;
}
.func >button.clicked {
  background-color: black;
  color: white;
}

.equal >button{
  background-color: transparent;
  border-radius: 5%;
  width: 100%;
  border: none;
  font-weight: bold;
  font-size: 25px;
  color: white;
  transition: 0.3s ease;
  justify-content: center;
  padding-top:8px;
  display: flex;
  border: solid white 1px;
  transition: 0.3 ease;

}
.equal >button:hover{
  background: silver;

}

.nt{
  border: solid black 2px;
  color: rgb(255, 210, 235);
  
}
.result{
  color: white;
}